<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="~/Styles/Home.css">
    <title>Vision AI</title>
</head>

<body>
    <!-- Start Landing Page -->
    <div class="landing-page">
        <header>
            <div class="container">
                <a href="#" class="logo">Vision<b>AI</b></a>
                <ul class="links">
                    <li><a href="/home/list">List</a></li>
                    <li><a>Project</a></li>
                    <li>Get Started</li>
                </ul>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <div class="info">
                    <h1>Vision<b>AI</b></h1><br />
                    <p>Hier komt een slogan ofzo iets jeej jeej jeej jeej</p><br />

                    <a href="/home/list" class="btn btn-primary">Check Our Results</a>
                </div>
                <div class="image">
                    <img src="https://i.postimg.cc/65QxYYzh/001234.png">
                </div>
            </div>
        </div>
    </div>
</body>
    
</html>