@model List<BirdMVC.Models.Result>
@{
    ViewBag.Title = "Home Page";
}
<section>
    @foreach (BirdMVC.Models.Result f in Model)
    {
        <div id="card">
            <div id="Image">
                <img src="@f.RawImage.ImgURL" />
            </div>
            <div id="predictions">
                @foreach (BirdMVC.Models.Prediction item in f.Predictions)
                {
                    <ol>
                        <li>@item.TagName - @item.probability</li>
                    </ol>
                }
            </div>
        </div>
    }

</section>

