@model List<BirdMVC.Models.Result>
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="~/Styles/List.css">
    <title>Vision AI</title>
</head>

<body>
    <!-- Start Landing Page -->
    <div class="landing-page">
        <header>
            <div class="container">
                <a href="/home/index" class="logo">Vision<b>AI</b></a>
                <ul class="links">
                    <li><a href="/home/index">Home</a></li>
                    <li><a href="/home/list">List</a></li>
                    <li>Project</li>
                </ul>
            </div>
        </header>
        
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem; margin-left: 2px; ">
                    <img class="card-img-top" src="@item.Thumbnail.ImgURL" alt="Card image cap" style="margin-top:5px; ">
                    <div class="card-body">
                        <h5 class="card-title"><b>@item.Predictions[0].TagName</b></h5>
                        @foreach (var predict in item.Predictions)
                        {
                            <p class="card-text">@predict.TagName - @predict.Probability%</p>
                        }

                        <a href="/home/details?guid=@item.GUID" class="btn btn-primary">Details</a>
                    </div>
                </div>
            }
        </div>
</body>

</html>